@import 'tachyons.min.css';

.system  { font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, roboto, sans-serif; }
.pink    { color: #EC4559; }
.bg-pink { background-color: #EC4559; }
